# Игнорируем всё, кроме нужного
**

# Разрешаем только исходники и go-файлы
!**/*.go
!go.mod
!go.sum

# Игнорируем локальные бинарники (они создаются при go build)
!bin/
bin/*

# Игнорируем скрытые файлы и директории
!.gitignore
!.dockerignore