apiVersion: v1
kind: Service
metadata:
  name: myapp-service
  namespace: sirius
spec:
  selector:
    app: myapp
  ports:
    - protocol: TCP
      port: 80
      targetPort: 80   # порт, на котором слушает nginx
  type: NodePort